/* Your app custom styles here */
:root {
    --primary-theme-color: #212121; /* Change here for theme color */
    --f7-theme-color: #212121; /* Change here for theme color */
    --bg-color: #EFEFEF;
    --text-light: #969696;
    --text-dark: #262626;
    --bg-button: #212121; /* Change here for theme color */
    --f7-button-hover-bg-color: #131313; /* Change here for theme color */
    --f7-button-fill-hover-bg-color: #131313; /* Change here for theme color */
    --f7-button-fill-pressed-bg-color: #131313; /* Change here for theme color */
    --f7-dialog-button-pressed-bg-color: #131313; /* Change here for theme color */
    --text-white: #ffffff;
    --card-background: #ffffff;
    --theme-box-shadow: 0px 0px 8px 0px #3872FF1A;
    --f7-navbar-bg-color: var(--bg-color);
    --f7-navbar-bg-image: var(--bg-color);
    --f7-navbar-border-color: none;
    --f7-navbar-shadow-image: none;
    --f7-navbar-link-color: var(--text-dark);
    --f7-navbar-height: 64px;
}

/* 
* Global
*/

.icon-back {
    height: 16px;
    width: 9px;
    background-image: url(../assets/back.svg);
}

.aurora .icon-back::after {
    content: '';
}

.navbar span {
    margin-left: 1rem !important;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-align: left;
}

.page {
    background-color: var(--bg-color);
}

.page-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 311px;
    border-radius: 8px;    
    background-color: var(--bg-button);
    margin: 1rem;

    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: var(--text-white);
    box-shadow: 1px 4px 8px rgba(0,0,0,0.1);
}

/* 
* Device Page
*/

.device-card {
    background: var(--card-background);
    box-shadow: var(--theme-box-shadow);
    height: 115px;
    width: 343px;
    border-radius: 8px;
    margin-bottom: 0px;
}

.device-card .card-content {
    padding: var(--f7-card-content-padding-vertical) var(--f7-card-content-padding-vertical) var(--f7-card-content-padding-vertical) 45px;
}

.device-card .card-content .heading {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.3px;
    text-align: left;    
    color: var(--text-dark);
}

.device-card .card-content p {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.3px;
    text-align: left;
    color: var(--text-light);

}

.device-card .img-header {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FBFCFF;
    box-shadow: inset 0px 0px 12px rgba(56, 114, 255, 0.16);
    border-radius: 8px;
    height: 84px;
    width: 84px;
    position: relative;
}

.device-card .dots {
    margin: 0 3px;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid var(--primary-theme-color);
}

.device-card .dots.active {
    background-color: var(--primary-theme-color);
}

/* 
* Switch & Settings Page
*/

.switch-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 343px;
    border-radius: 8px;
    background: var(--card-background);
    box-shadow: var(--theme-box-shadow);
    margin-bottom: 0px;
}

.switch-card .card-content {
    padding: 0 0 0 0;
}

.switch-card .heading {
    height: 14px;
    width: 150px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.3px;
    text-align: left;
    color: var(--text-dark);
}

.switch-card p {
    height: 36px;
    width: 280px;
    padding-bottom: 10px; 
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.3px;
    text-align: justify;
    color: var(--text-light);
}

.switch-card .img-header {
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 20px;
}

/* 
* Device Info
*/

.top-header-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    width: 90%;
    border-radius: 8px;
    background: var(--card-background);
    box-shadow: var(--theme-box-shadow);
    margin-bottom: 0px;
}

.top-header-card li {
    height: 64px;
    list-style: none;
    width: 100%;
    border-bottom: 1px dashed #3872FF1A;
}

.top-header-card .row {
    flex-wrap: nowrap;
    margin-top: 2px;
}

.top-header .img-header {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--card-background);
    box-shadow: var(--theme-box-shadow);
    border-radius: 8px;
    height: 104px;
    width: 104px;
    position: relative;
}

.top-header .dots {
    /* bottom: 0;
    position: absolute; */
    margin: 0 3px;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid var(--primary-theme-color);
}

.top-header .dots.active {
    background-color: var(--primary-theme-color);
}

.top-header-card .card-key {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: var(--text-light);
    padding: 1rem;
    text-align: left;
}

.top-header-card .card-value {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    text-align: right;
    padding: 1rem;
    color: var(--text-dark);
    margin-top: 0px;
}

.top-header-card .card-content {
    padding: 0;
}

.top-header .dots-container {
    margin-top: 10px;
}

.top-header .title,
.top-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
}

.top-header .title h1 {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-top: 10px;
    line-height: 0px;
    letter-spacing: -0.3px;
    text-align: left;
    color: var(--text-dark);
}

.top-header .title p {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 0px;
    letter-spacing: -0.3px;
    text-align: left;
    color: var(--text-light);
}

/* 
* Common Settings
*/

.common-settings-card {
    max-height: 400px;
    width: 343px;
    border-radius: 8px;
    background: var(--card-background);
    box-shadow: var(--theme-box-shadow);
    margin-bottom: 0;
}

.common-settings-card h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.3px;
    padding: .2rem 1rem;
    color: var(--text-dark);
}

.common-settings-card p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    padding: 0 1rem;
    color: var(--text-light);
}

.common-settings-card .slider {
    width: 311px;
    margin: 1rem;
}

.common-settings-card .slider .range-knob {
    background-color: #3872FF;
}

.common-settings-card .range-slider-horizontal .range-bar-active,
.common-settings-card .range-knob-label {
    background-color: #3872FF;
    padding: 0;
}

.range-knob-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 100%;
    text-align: center;
    transition-duration: 120ms;
    transition-property: transform;
    box-sizing: border-box;
    transform: translateY(100%) scale(0);
    height: 30px;
    min-width: var(--f7-range-label-size);
    background-color: var(--primary-theme-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    border-radius: 50%;
    padding: var(--f7-range-label-padding);

    width: 30px;
    margin-bottom: 8px;
    color: var(--text-white);
}

.range-knob-label:before {
    content: '';
    left: 50%;
    top: 0px;
    margin-left: calc(-1 * 30px/ 2);
    position: absolute;
    z-index: -1;
    width: 30px;
    height: 30px;
    background: var(--primary-theme-color);
    transform: rotate(
-45deg);
    border-radius: 50% 50% 50% 0;
}

.common-settings-card .minmaxlabel {
    display: flex;
    justify-content: space-between;
}

.common-settings-card .minmaxlabel p {
    font-family: Source Sans Pro;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.3px;
color: var(--primary-theme-color);
}

.common-settings-card .counter {
    display: flex;
    justify-content: center;
}

.common-settings-card .counter .increment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem .1rem;
    margin-left: .5rem;
    height: 36px;
    width: 32px;
    background: var(--card-background);
    box-shadow: var(--theme-box-shadow);
    border-radius: 8px;
    color: var(--primary-theme-color);
}

.common-settings-card .counter .decrement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem .1rem; 
    height: 36px;
    width: 32px;
    background: var(--card-background);
    box-shadow: var(--theme-box-shadow);
    border-radius: 8px;
    color: var(--primary-theme-color);
}

.common-settings-card .counter .counter-value {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .3rem;
    margin-left: .5rem;
    height: 36px;
    width: 80px;
    background: var(--card-background);
    box-shadow: var(--theme-box-shadow);
    border-radius: 8px;    
    text-align: center;
    position: relative;
}

.common-settings-card .counter .counter-value p {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: var(--text-dark);
}

.common-settings-card .counter .counter-value span {
    position: absolute;
    bottom: 4px;
}

.common-settings-card .slider .range-knob,
.common-settings-card .range-slider-horizontal .range-bar-active, .common-settings-card .range-knob-label {
    background-color: var(--primary-theme-color);
}

/* 
* Switch Settings
*/

.switch-settings-card {
    max-height: 800px;
    width: 343px;
    border-radius: 8px;
    background: var(--card-background);
    box-shadow: var(--theme-box-shadow);
    margin-bottom: 0;
}

.switch-settings-card h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.3px;
    padding: .2rem 1rem;
    color: var(--text-dark);
}

.switch-settings-card p {
    text-align: justify;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    padding: 0 1rem;
    margin-top: -2px;
    color: var(--text-light);
}

.switch-settings-card .heading {
    display: flex;
    justify-content: space-between;
}

.switch-settings-card .toggle {
    margin: 1rem;
}

.switch-settings-card .toggle .toggle-icon {
    background-color: #E6E6E6;
}

.switch-settings-card .toggle .toggle-iconnput[type='checkbox']:checked + .toggle-icon {
    background-color: var(--primary-theme-color);
}

.switch-settings-card .section1 {
    border-bottom: 1px dashed #E6E6E6;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.switch-settings-card .section2 {
    margin-bottom: 1rem;
}

.switch-settings-card .icon-radio {
    border: 1px solid #E6E6E6;
}

.switch-settings-card .list ul {
    display: grid;
    grid-template-columns: auto auto;
}

.switch-settings-card .list .item-inner {
    border: none !important;
    box-shadow: none !important;
}

.switch-settings-card .list .item-title {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: var(--text-dark);
}

.switch-settings-card .types {
    padding: 1rem;
    margin: 1rem;
}

.switch-settings-card .types .media-list ul .item-title {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: var(--text-dark);
}

.switch-settings-card .types .media-list ul .item-text {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: var(--text-light);
    margin: 8px 0;
}

.switch-settings-card .types .media-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--primary-theme-color);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #FBFCFF;
}

.switch-settings-card .types .media-item {
    width: 100%;
}

/* 
* Scenes Page
*/

.scene {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
}

/* 
* Loading
*/

.loading-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.loading-container svg {
    margin-bottom: 1rem;
    width: 100% !important;
}